*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 730px;
    padding: 5px;
    margin: 5px;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.wrapper_task{
    display: flex;
    flex-direction: column;
}
p{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    background: rgb(235, 232, 221); /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}